<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
                <h2 class="modal-title text-dark">Crear Dimensi&oacute;n</h2>
                <button class="btn btn-close" type="button" data-dismiss="modal" aria-label="Close"></button>
            </div>
                <form id="dimension_form_create" action="{% url 'Metrics:dimension_create' variable.id %}"  method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div id="errorsCreateDimension">

                        </div>
                        {{form.as_p}}
                    </div>
                    <div class="modal-footer">
                    <button id="create_button_dimension" type="button" class="btn btn-primary" onclick="create_dimension();">Aceptar</button>
                    <button class="btn btn-danger" type="button" onclick="close_modal_regist();">Cancelar</button>
                </form>
        </div>
    </div>
</div>