{% extends 'base_admin.html' %}

{% load static %}

{% block title %}
Varmetric | Indicador {{object.name}}
{% endblock title %}

{% block body %}
<div class="container-fluid">
    <div class="card shadow mt-5"">
        <div class="card-header py-3 text-center">
            <h3 class="text-start text-dark">{{object.name}}</h3>
        </div>
        <div class="card-body">
            <p class="text-dark">{{object.description}}</p>
            <a href="{% url 'Metrics:measurement_criterion_list' object.id %}" class="btn btn-primary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-list-ol"></i>
                </span>
                <span class="text">Añadir Criterios de Medida</span>
            </a>
        <div>
        </div>
        </div>
    </div>
</div>
</div>
{% endblock body %}