<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
                <h2 class="modal-title">&iquest; Desea Eliminar &quest;</h2>
                <button class="btn btn-close" type="button" data-dismiss="modal" aria-label="Close"></button>
            </div>
                <div class="modal-body text-center">
                    <form id="indicator_form_delete" action="{% url 'Metrics:indicator_delete' object.id %}" method="POST">
                    {% csrf_token %}
                    <h3>Seguro que desea eliminar el indicador:&nbsp;  
                    <em>{{object.name}}</em></h3>
                </div>
                <div class="modal-footer">
                    <button type="button" 
                    class="btn btn-danger" onclick="delete_indicator();">Confirmar Eliminaci&oacute;n</button>
                </form>
                    <button class="btn btn-primary" type="button" onclick="close_modal_delete();">Cancelar</button>
        </div>
    </div>
</div>