<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
                <h2 class="modal-title">{{object.name}}</h2>
                <button class="btn btn-close" type="button" data-dismiss="modal" aria-label="Close"></button>
            </div>
                <div class="modal-body text-center">
                    <h4>{{object.description}}</h4>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" onclick="close_modal_detail();">Cerrar</button>
        </div>
    </div>
</div>