{% extends 'base_admin.html' %}

{% load static %}

{% block title %}
Varmetric | Escala 
{% endblock title %}

{% block body %}
<div class="container-fluid">
    <div class="card shadow mt-5">
        <div class="card-header py-3 text-center">
            <a href="{% url 'Metrics:variable_scale_list' %}" class="btn float-left"><i class="fa fa-arrow-left"></i></a><br>
            <h3 class="text-start">Escala</h3>
    </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th scope="col">&numero;</th>
                            <th scope="col">Etiqueta Ling&uuml;&iacute;stica</th>
                            <th scope="col">Valor Inicial</th>
                            <th scale="col">Valor Final</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if scale %}
                        {% for object in scale %}
                        <tr>
                          <td>{{forloop.counter}}</td>
                          {% if object.scale_label %}
                          <td>{{object.scale_label}}</td>
                          {% else %}
                          <td>
                            <button class="btn btn-outline-info btn-block" onclick="open_modal_create('{% url 'Metrics:variable_scale_create_label' object.id %}')">Definir Etiqueta Ling&uuml;&iacute;stica</button>
                          </td>
                          {% endif %} 
                          <td>{{object.initial_value}}</td>
                          <td>{{object.final_value}}</td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <h1>No hay Escala.</h1>
                        {% endif %} 
                    </tbody>
                </table>
                {% if scale %}
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalDeleteAll">
                    Eliminar Escala
                </button>
                {% endif %} 
            </div>
        </div>
    </div>
</div>
</div>
<div class="modal fade" id="createEscale" role="dialog">

</div>  
  <!-- Modal Delete All -->
  <form method="post">
    {% csrf_token %}
  <div class="modal fade " id="modalDeleteAll" tabindex="-1" aria-labelledby="modalDeleteAllLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalDeleteAllLabel">&iquest; Desea Eliminar &quest;</h1>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h3>&iquest;Est&aacute; seguro que desea eliminar &quest;</h3>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-danger" name="delete_selected">Eliminar</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}
{% block extrajs %}
<script src="{% static 'js/scale/scale.js' %}"></script>
{% endblock extrajs %}
