{% extends 'base_admin.html' %}

{% load static %}

{% block title %}
Varmetric | Variebles 
{% endblock title %}

{% block body %}
<div class="container-fluid">
    <div class="card shadow mt-5">
        <div class="card-header py-3 text-center">
            <a href="{% url 'adminsite' %}" class="btn float-left"><i class="fa fa-arrow-left"></i></a><br>
            <h3 class="text-start">Listado de Variables</h3>
    </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th scope="col">&numero;</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Descripci&oacute;n</th>
                            <th scope="col">Opciones</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% if variable %}
                        {% for object in variable %}
                        <tr>
                          <td>{{forloop.counter}}</td>
                          <td>{{object.name}}</td>
                          <td>{{object.description}}</td>
                                {% if object.have_scale %}
                                <td><a class="btn btn-outline-info btn-block" href="{% url 'Metrics:variable_scale_list_pk' object.id %}">Ver Escala</a></td>
                                {% else %}
                                <td>
                                    <button class="btn btn-outline-info btn-block" onclick="open_modal_create_scale('{{object.id}}')">Crear Escala</button>
                                </td>
                                {% endif %}
                        </tr>
                        {% endfor %}
                        {% else %}
                        <h1>No existen Variables.</h1>
                        {% endif %} 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
<div id="myModal" class="modal">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                    <h2 class="modal-title">Crear Escala</h2>
                    <button class="btn btn-close" type="button" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-title modal-body" >
                    <h5>Tenga en cuenta que la escala depende de la correcta creaci&oacute;n de la variable para obtener los resultados correctos</h5>
                    </div>
                    <div class="modal-body text-center">
                        <form id="miFormulario" action="{% url 'Metrics:variable_scale_list_create' %}"  method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                        <p>
                        <label class="float-left" for="count">Cantidad de Intervalos*</label>
                        <input name="count" id="count" type="number" class="form-control">
                       </p>
                     </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" 
                        class="btn btn-primary" onclick="sendDates();">Aceptar</button>
                    </form>
                        <button class="btn btn-danger" type="button" onclick="close_modal_scale();">Cancelar</button>
            </div>
        </div>
    </div>
  </div>
{% endblock body %}
{% block extrajs %}
<script src="{% static 'js/scale/scale.js' %}"></script>
{% endblock extrajs %}
