{% extends 'base_admin.html' %}

{% load static %}

{% block title %}
Varmetric | Variebles 
{% endblock title %}

{% block body %}
<div class="container-fluid">
    <div class="card shadow mt-5">
        <div class="card-header py-3 text-center">
            <a href="{% url 'adminsite' %}" class="btn float-left"><i class="fa fa-arrow-left"></i></a><br>
            <h3 class="text-start">Listado de Variables</h3>
            <button class="btn btn-outline-dark" onclick="open_modal_create_variable('{% url 'Metrics:variable_create' %}')">Variable &plus;</button>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th scope="col">&numero;</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Descripci&oacute;n</th>
                            <th scope="col">Opciones</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% if object_list %}
                        {% for object in object_list %}
                        <tr>
                          <td>{{forloop.counter}}</td>
                          <td>{{object.name}}</td>
                          <td>{{object.description}}</td>
                          <td>
                            <a class="btn btn-outline-info btn-block" href="{% url 'Metrics:variable_detail' object.id %}">Ver Detalles</a>
                            <a class="btn btn-outline-primary btn-block" href="{% url 'Metrics:variable_detail' object.id %}">Editar</a>
                            <a class="btn btn-outline-danger btn-block" href="{% url 'Metrics:variable_detail' object.id %}">Eliminar</a>
                          </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <h1>No existen Variables.</h1>
                        {% endif %} 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
    <div class="modal fade"  id="createVariable" role="dialog">

    </div>
{% endblock body %}
{% block extrajs %}
<script src="{% static 'js/variable/variable.js' %}"></script>
{% endblock extrajs %}