{% extends 'base.html' %}

{% load static %}

{% block title %} Varmetric | Responder Entrevista {% endblock title %}


{% block body %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="mb-5">
            <div class="card shadow  mt-5 mb-5">
                <div class="card-header">
                    <a class="btn btn-danger float-end" href="{% url 'Answers:answers_interview_list' %}">&times;</a>
                    <h1 class="font-weight-light">{{interview.name}}</h1>
                    <h5 class="mb-3">{{interview.description}}</h3>
                </div>
            <div class="card-body">
                {% if question_interview %}
                <form method="POST" action="{% url 'Answers:answers_interview_replay' interview.id %}">{% csrf_token %}
                {% for question in question_interview %}
                <h2 class="card-title">{{question.text}}&colon;</h2>
                <input type="text" id="{{question.name}}" name="{{question.name}}" class="form-control" placeholder="Respuesta..." required>
                <input type="hidden" id="user" name="user" class="form-control" placeholder="Usuario" value="{{request.user.id}}">
                {% endfor %}
                </div>
                <div class="card-footer text-center">
                <button type="submit" class="btn btn-lg btn-success">&check;</button>
                <a class="btn btn-lg btn-danger" href="{% url 'Answers:answers_interview_list' %}">&times;</a>
                </div>
                </form>
                {% else %}
                <h2 class="card-title">Esta Encuesta no tiene preguntas</h2>
                <a class="btn btn-primary btn-sm" href="{% url 'Answers:answers_interview_list' %}">&loarr; Atras</a>
                </div>
                {% endif %}
        </div>
    </div>
</div>
</div>
{% endblock body %}