<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
                <h2 class="modal-title text-dark">Editar Encuesta</h2>
                <button class="btn btn-close" type="button" data-dismiss="modal" aria-label="Close"></button>
            </div>
                <form id="poll_form_update" action="{% url 'Instruments:poll_update' object.id %}"  method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div id="errorsUpdatePoll">

                        </div>
                        {{form.as_p}}
                    </div>
                    <div class="modal-footer">
                    <button id="update_button_poll" type="button" class="btn btn-primary" onclick="update_poll();">Aceptar</button>
                    <button class="btn btn-danger" type="button" onclick="close_modal_update();">Cancelar</button>
                </form>
        </div>
    </div>
</div>