{% extends 'base_admin.html' %}

{% load static %}

{% block title %}
Varmetric | Revizar Encuesta
{% endblock title %}

{% block body %}
<div class="container-fluid">
    <div class="card shadow mt-5">
        <div class="card-header py-3 text-center">
            <a href="{% url 'Instruments:poll_review_answer' poll.id %}" class="btn float-left"><i class="fa fa-arrow-left"></i></a><br>
            <h3 class="text-start">{{poll}}</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th scope="col">&numero;</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Respuesta</th>
                            <th scope="col">Valor Obtenido</th> 
                        </tr>
                    </thead>
                    <tbody>
            {% if user_responses %}
                {% for answer in user_responses %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{answer.questionPoll.text}}</td>
                    <td>{{answer.answer}}</td>
                    {% if answer.value == 0 %}
                    <td><button onclick="open_modal_value_answer_poll('{% url 'Instruments:poll_review' answer.id %}')"  class="btn btn-primary">Valorar</button></td>
                    {% else %}
                    <td>{{answer.value}}</td>
                    {% endif %}
                </tr>
                {% endfor %}
        
            {% else %}
            <h1>No existen Respuestas.</h1>
            {% endif %}
        </tbody>
    </table>
        </div>
    </div>
</div>
<div class="modal fade"  id="valueAnswerPoll" role="dialog">

</div>
{% block extrajs %}
<script src="{% static 'js/review/review_poll.js' %}"></script>
{% endblock extrajs %}
{% endblock body %}