{% extends 'base_admin.html' %}

{% load static %}

{% block title %}
Varmetric | Revizar Entrevista
{% endblock title %}

{% block body %}
<div class="container-fluid">
    <div class="card shadow mt-5">
        <div class="card-header py-3 text-center">
            <a href="{% url 'Instruments:interview_review_answer' interview.id %}" class="btn float-left"><i class="fa fa-arrow-left"></i></a><br>
            <h3 class="text-start">{{interview}}</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th scope="col">&numero;</th>
                            <th scope="col">Pregunta</th>
                            <th scope="col">Respuesta</th>
                            <th scope="col">Valor Obtenido</th> 
                        </tr>
                    </thead>
                    <tbody>
            {% if user_responses %}
                {% for answer in user_responses %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{answer.questionInterview.text}}</td>
                    <td>{{answer.answer}}</td>
                    {% if answer.value == 0 %}
                    <td><button onclick="open_modal_value_answer_interview('{% url 'Instruments:interview_review' answer.id %}')"  class="btn btn-primary">Valorar</button></td>
                    {% else %}
                    <td>{{answer.value}}</td>
                    {% endif %}
                </tr>
                {% endfor %}
        
            {% else %}
            <h1>No existen Respuestas.</h1>
            {% endif %}
        </tbody>
    </table>
    {% if user_responses %}
        <div class="text-center">
        <button onclick="open_modal_result('{% url 'Instruments:get_result_interview' answer_id=user_responses.0.id user_id=user_responses.0.user.id %}')" class="btn btn-primary">Resultado</button>
        </div>
        {% endif %}
        </div>
    </div>
</div>
<div class="modal fade"  id="valueAnswerInterview" role="dialog">

</div>
<div class="modal fade"  id="modalResult" role="dialog">

</div>
{% block extrajs %}
<script>
function open_modal_result(url){
	$('#modalResult').load(url, function (){
		$(this).modal('show');
	});
}
</script>
<script src="{% static 'js/review/review_interview.js' %}"></script>
{% endblock extrajs %}
{% endblock body %}