{% extends 'base.html' %}

{% load static %}

{% block title %} Varmetric | Inicio {% endblock title %}


{% block body %}
<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'assets/img/img.png' %}" alt="Cargando..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Medici&oacute;n de tus variables</h1>
            <p>Desarrolla tus investigaciones y mide tus variables de forma mas eficiente</p>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-primary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">Aplica el instrumento que m&aacute;s se adapte a tu investigaci&oacute;n</p></div>
    </div>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Encuesta</h2>
                    <p class="card-text">Conjunto de preguntas tipificadas dirigidas a una muestra representativa de grupos sociales, para averiguar estados de opinión o conocer otras cuestiones que les afectan</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#ModalEncuesta">M&aacute;s informaci&oacute;n</a>
                    <div class="modal fade" id="ModalEncuesta" aria-labelledby="ModalEncuestaLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="ModalEncuestaLabel">Encuesta</h1>
                              <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              Conjunto de preguntas tipificadas dirigidas a una muestra representativa de grupos sociales, para averiguar estados de opinión o conocer otras cuestiones que les afectan
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Entrevista</h2>
                    <p class="card-text">Vista, concurrencia y conferencia de dos o más personas en lugar determinado, para tratar o resolver un negocio</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#ModalEntrevista">M&aacute;s informaci&oacute;n</a>
                    <div class="modal fade" id="ModalEntrevista" aria-labelledby="ModalEntrevistaLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="ModalEntrevistaLabel">Entrevista</h1>
                              <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              Vista, concurrencia y conferencia de dos o más personas en lugar determinado, para tratar o resolver un negocio
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Observaci&oacute;n</h2>
                    <p class="card-text">Comúnmente, llamamos observación al acto de emplear la vista para obtener información a partir de un fenómeno de la realidad</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#ModalObservacion">M&aacute;s informaci&oacute;n</a>
                    <div class="modal fade" id="ModalObservacion" aria-labelledby="ModalObservacionLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="ModalObservacionLabel">Observaci&oacute;n</h1>
                              <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              Comúnmente, llamamos observación al acto de emplear la vista para obtener información a partir de un fenómeno de la realidad
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}



